body{background-color:black;}
.quote{
  padding-top:10%;
  padding-left:20%;
  padding-right:20%;
  background-color:grey;
}
#quote-text{
  background-color:white;
  margin-left:15%;
  margin-right:15%;
  border-style:solid;
  border-color:white;
  border-radius:2px;
}
#author{
  float:right;
  background-color:grey;
  color:white;
}
#new-quote-btn{
 padding-left:5%;
}
.background{
  margin-top:10%;
  margin-bottom: 20%;
}

