body{background-color:blue;}
.quote{
  padding-top:10%;
  padding-left:20%;
  padding-right:20%;
}
#quote-text{
  background-color:white;
  margin-left:15%;
  margin-right:15%;
  border-style:solid;
  border-color:white;
  border-radius:2px;
}
#author{
  float:right;
}
#new-quote-btn{
 padding-left:5%;
}
